spring:
  application:
    name: "zuul service"
server:
  port: 8080

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5

zuul:
  routes:
    users:
      path: /user/**
      serviceId: "user-service"
      sensitive-headers: Cookie,Set-Cookie
      stripPrefix: false