spring:
  application:
    name: "swagger"
  cloud:
    client:
      hostname: raspberrytronxi3.ddns.net
server:
  port: 8070
eureka-host: raspberrytronxi2.ddns.net
eureka:
  instance:
    #status-page-url-path: ${spring.cloud.client.hostname}:${server.port}/swagger-ui.html
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://${eureka-host}:8762/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5
